{#
    Add extra directives specific to your app that need to be added to the
    default vhost configuration. The context is a VirtualHost block. For
    example:

    SetEnv SYMFONY__ENV dev
    SetEnv SYMFONY__DEBUG 1
#}
